:root {
    --border-width: calc(var(--diameter-tile) / 60 );
    --diameter-board: min(85vw, 85vh);
    --diameter-tile: calc(1 / 8 * var(--diameter-board));
    --edge-width: calc((min(100vw, 100vh) - var(--diameter-board)) * 0.3);
    --color-danger: tomato;
    --color-success: #1d83e0;
    --color-white: #f0f0f0;
    --color-black: #222;
    --color-board-hue: 30;
    --color-board-sat: 40%;
    --color-shadow: hsl(var(--color-board-hue), var(--color-board-sat), 50%);
    --color-shadow-lighter: hsl(var(--color-board-hue), var(--color-board-sat), 55%);
    --transition-ease: cubic-bezier(0.25, 1, 0.5, 1);
    --color-background: var(--color-black);
}

aside {
    display: flex;
    justify-content: space-between;
    left: 0;
    position: absolute;
    top: calc(var(--edge-width) * -0.55);
    transform: translateY(-50%);
    width: 100%;
    z-index: 999;
}

aside div {
    align-items: center;
    color: white;
    display: flex;
}

aside div > * + * {
    margin-left: calc(var(--border-width) * 2);
}

aside div h3,
aside div label {
    font-size: calc(var(--edge-width) * 0.3);
    height: calc(var(--edge-width) * 0,3);
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

aside div label {
    cursor: pointer;
  }

aside div input {
    left: -99999px;
    position: absolute;
}

aside div input + * {
    opacity: 0.5;
}

aside div input:checked + * {
    font-weight: bold;
    opacity: 1;
}

aside div svg {
    height: calc((var(--edge-width) * 0.5));
}

html,
body {
    height: 100%;
}

body {
    background: var(--color-background);
    overflow: hidden;
    transition: background-color 250ms ease-in-out;
}

#view {
    background: var(--color-shadow-lighter);
    box-shadow: 0 0 0 calc(var(--border-width) * 3) var(--color-shadow-lighter),
      0 0 0 var(--edge-width) var(--color-shadow);
    height: var(--diameter-board);
    margin: calc((100vh - var(--diameter-board)) * 0.5)
      calc((100vw - var(--diameter-board)) * 0.5);
    position: relative;
    width: var(--diameter-board);
}
  
.board {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
}

.board .row {
    display: flex;
    height: var(--diameter-tile);
    width: 100%;
}

.perpective-black .board .row {
    flex-direction: row-reverse;
}

.perpective-black .board {
    flex-direction: column;
}

.board .row .tile {
    background-color: currentColor;
    border: none;
    box-shadow:  inset 0 0 0 var(--border-width) var(--color-shadow-lighter);
    display: flex;
    flex-direction:  column;
    height: var(--diameter-tile);
    justify-content: space-between;
    padding: 0;
    position: relative;
    transition: background-color 135ms var(--transition-ease);
    width:  var(--diameter-tile);
}

.perspective-black .board .row:nth-child(even) .tile:nth-child(odd),
.perspective-black .board .row:nth-child(odd) .tile:nth-child(even),
.perspective-white .board .row:nth-child(even) .tile:nth-child(even),
.perspective-white .board .row:nth-child(odd) .tile:nth-child(odd) {
  color: hsl(var(--color-board-hue), var(--color-board-sat), 62%);
}

.perspective-black .board .row:nth-child(even) .tile:nth-child(even),
.perspective-black .board .row:nth-child(odd) .tile:nth-child(odd),
.perspective-white .board .row:nth-child(even) .tile:nth-child(odd),
.perspective-white .board .row:nth-child(odd) .tile:nth-child(even) {
  color: hsl(var(--color-board-hue), var(--color-board-sat), 70%);
}
.board .row .tile.highlight-active {}
.board .row .tile.highlight-capture {}
.board .row .tile.highlight-move {}

.board .row .tile .move,
.board .row .tile .moves,
.board .row .tile .captures {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: var(--diameter-tile);
    justify-content: center;
    left: 0;
    padding: calc(var(--diameter-tile) * 0.025);
    position: absolute;
    top: 0;
    width:  var(--diameter-tile);
    z-index: 9;
}

.board .row .tile .move,
.board .row .tile .moves {
    align-content: center;
    align-items: center;
}

.board .row .tile .captures {
    align-content: center;
    align-items: center;
}
